# activate Conda
{{ cellprofiler_conda }}

# activate cellprofiler conda environment
{{ activate_cellprofiler }}

# run CellProfiler
cellprofiler -r -c -p {{ pipeline_path }} --file-list {{ filelist_path }} -o {{ output_dir }}
