#!/bin/bash

# activate cellprofiler envirnment
{{ cellprofiler_env }}

# run CellProfiler
cellprofiler -r -c -p {{ cellprofiler_pipeline_path }} --file-list {{ filelist_path }} -o {{ output_dir }}
